USE [SCADA]
GO
/****** Object:  Table [dbo].[TAG_DATA]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG_DATA](
	[DataId] [int] NOT NULL,
	[TagId] [int] NULL,
	[Temperature] [float] NULL,
	[Timestamp] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[Setpoint] [float] NULL,
	[Signal] [float] NULL,
	[UnfilteredTemp] [float] NULL,
 CONSTRAINT [XPKTAG_DATA] PRIMARY KEY CLUSTERED 
(
	[DataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAG_DATA]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([TagId])
REFERENCES [dbo].[TAG_CONFIG] ([TagId])
GO
ALTER TABLE [dbo].[TAG_DATA] CHECK CONSTRAINT [R_1]
GO
