USE [SCADA]
GO
/****** Object:  Table [dbo].[ALARM_DATA]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALARM_DATA](
	[AlarmId] [int] NOT NULL,
	[ActivationTime] [datetime] NULL,
	[AlarmType] [varchar](20) NULL,
	[TagId] [int] NULL,
	[AlarmLimits] [float] NULL,
	[Description] [varchar](30) NULL,
	[AcknowledgeTime] [datetime] NULL,
	[OpUsername] [varchar](30) NULL,
	[DataId] [int] NULL,
 CONSTRAINT [XPKALARM_DATA] PRIMARY KEY CLUSTERED 
(
	[AlarmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALARM_DATA]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([DataId])
REFERENCES [dbo].[TAG_DATA] ([DataId])
GO
ALTER TABLE [dbo].[ALARM_DATA] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[ALARM_DATA]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([TagId])
REFERENCES [dbo].[TAG_CONFIG] ([TagId])
GO
ALTER TABLE [dbo].[ALARM_DATA] CHECK CONSTRAINT [R_3]
GO
