USE [SCADA]
GO
/****** Object:  StoredProcedure [dbo].[OperatorAction]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OperatorAction]
(
	@OpUsername varchar(30),
	@Action varchar(30)
)
AS

DECLARE 
@TagId int,
@ActionId int,
@OperatorId int

SELECT @TagId = TagId from LastTagId;
SELECT @ActionId = ActionId from LastActionId;
SELECT @OperatorId = OperatorId from OPERATOR where OpUsername = @OpUsername;

INSERT INTO OPERATOR_LOG (ActionId, OperatorId, OpUsername, Action, TagId, Time)
VALUES ((@ActionId + 1), @OperatorId, @OpUsername, @Action, @TagId, GETDATE())
GO
