USE [SCADA]
GO
/****** Object:  Table [dbo].[OPERATOR_LOG]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATOR_LOG](
	[ActionId] [int] NOT NULL,
	[OperatorId] [int] NULL,
	[OpUsername] [varchar](30) NULL,
	[Action] [varchar](30) NULL,
	[TagId] [int] NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [XPKOPERATOR_LOG] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
