USE [SCADA]
GO
/****** Object:  Table [dbo].[TAG_CONFIG]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG_CONFIG](
	[TagId] [int] NOT NULL,
	[TagName] [varchar](20) NULL,
	[ItemId] [int] NULL,
	[ItemUrl] [varchar](100) NULL,
	[Type] [varchar](20) NULL,
	[Setpoint] [float] NULL,
 CONSTRAINT [XPKTAG_CONFIG] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
