USE [SCADA]
GO
/****** Object:  Table [dbo].[OPERATOR]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATOR](
	[OperatorId] [int] NOT NULL,
	[OpUsername] [varchar](30) NULL,
	[OpPassword] [varchar](30) NULL,
 CONSTRAINT [XPKOPERATOR] PRIMARY KEY CLUSTERED 
(
	[OperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
