USE [SCADA]
GO
/****** Object:  StoredProcedure [dbo].[SETPOINT_CHANGE]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SETPOINT_CHANGE]
(
@Setpoint float
)

AS

DECLARE

@TagId int,
@ItemId int,
@Type varchar(20)

SELECT @TagId = TagId from LastTagId;
SELECT @ItemId = ItemId from LastItemId;

INSERT INTO TAG_CONFIG(TagId, TagName, ItemId, ItemUrl, Type, Setpoint)
VALUES (@TagId + 1, 'Setpoint', @ItemId + 1, '\\localhost\SCADA\SCADA_OPC\Configured Aliases\Setpoint', 'Varchar', @Setpoint)
GO
