USE [SCADA]
GO
/****** Object:  StoredProcedure [dbo].[DataLogging]    Script Date: 06.05.2020 15:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DataLogging]
(
	@Temperature float,
	@Signal float,
	@UnfilteredTemp float,
	@Status varchar(20)
)
AS

DECLARE 
@TagId int,
@DataId int,
@Setpoint float

SELECT @TagId = TagId from LastTagId;
SELECT @DataId = DataId from LastDataId;
SELECT @Setpoint = Setpoint FROM LastSetpoint;

INSERT INTO TAG_DATA (Temperature, Signal, UnfilteredTemp, Status, TagId, DataId, Timestamp)
VALUES (@Temperature, @Signal, @UnfilteredTemp, @Status, @TagId, @DataId + 1, GETDATE())
GO
